/* first responsive site */
body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    max-width: 75px;
    margin: 15px;
}

#toggleAssist,
ul.nav-links {
    display: none;
}

#toggleAssist:checked + ul.nav-links {
    display: block;
}

.toggle-button {
    width: 40px;
    float: right;
    margin: 15px;
}

ul.nav-links {
    list-style: none;
    padding-left: 0px;
}

ul.nav-links li {
    padding: 10px;
    border-bottom: 2px solid dodgerblue;
}

ul.nav-links a {
    text-decoration: none;
    text-transform: uppercase;
    color:black;
}

@media(min-width: 550px) {
    .toggle-button {
        display: none;
    }

    ul.nav-links {
        display: block;
        float: right;
        margin-top: 35px;
    }

    ul.nav-links li {
        display: inline-block;
        border-bottom: none;
    }

} /* END OF MID-SCREEN MEDIA QUERY */

@media(min-width: 960px) {
    header {
        width: 960px;
        margin: auto;
    }
} /* END OF LG-SCREEN MEDIA QUERY */

body {
 background-image: url("png");
 background-color: #cccccc;
}

header {height:px;background-color:#A38861;clear:both;}

footer {height 4px;background-color:#A38861;clear:both;}

h1 {
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
	text-align: center
}

p {
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
	text-align: center
}


<style>
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
</style>

<div class="footer">
  <p>Footer</p>
</div>

/*slides*/
.rslides {position: relative; list-style: none; overflow: hidden; height:437px; width: 100%; padding: 0; margin: 0;}

.rslides li {-webkit-backface-visibility: hidden; position: absolute; display: none; width: 100%; left: 0; top: 0;}

.rslides li:first-child {position: relative; display: block; float: left;}

.rslides img {display: block; height: auto; float: left; width: 100%; border: 0;}

