@import url("colors.css");
@import url("text.css")

	
.body {<center></center>}
.wrapper {
        display: grid;
        grid-template-columns: [v-line-1] 100%;
        grid-gap: 20px;
        height: 400px;
        width: 540px;
        margin: auto;
	    padding-top: 15px;
	text-align: center
    }


.box {
	
        border-radius: 5px;
		grid-gap: 20px;
        padding: 60px;
        font-size: 150%;
	    width: auto
		height: auto
		
			

}

	.a {
        grid-column: 1;
        grid-row: 1;
	    
    }
    .b {
        grid-column: 1;
        grid-row: 2;
    }
    .c {
        grid-column: 1 ;
        grid-row: 3;
    }
    .d {
        grid-column: 1;
        grid-row: 4;
    }
	.e {
		grid-column: 1;
		grid-row: 5;
	}
	.f {
		grid-column: 1;
		grid-row: 6;
	}


@media(min-width: 560px){
    .wrapper {
        display: grid;
        grid-template-rows: [h-line-1 firstH] 1fr [h-line-2] 1fr [h-line-3] 1fr [h-line-4];
        grid-template-columns: [v-line-1] 100px [v-line-2] 100px [v-line-3] 100px [v-line-4];
        grid-gap: 15px;
        margin: auto;
		width: 950px
		height: 500px
    }

	
	.box {
        border-radius: 5px;
        padding: 20px;
        font-size: 150%;
		width: 950px
		margin: auto

 }

    .a {
        grid-column: 1 / 3;
        grid-row: 1;
    }
    .b {
        grid-column: 3 ;
        grid-row: 1 / 3;
    }
    .c {
        grid-column: 1 ;
        grid-row: 2 ;
    }
    .d {
        grid-column: 2;
        grid-row: 2;
    }
	.e {
		grid-column: 1/3;
		grid-row: 3;
	}
	.f {grid-column: 3;
	    grid-row: 3}

