p {
    background-color: white;
    width: 1200x;
    border: 15px solid purple;
    padding: 30px;
    margin: 20px;
    position: center;
  }

  h2 {
      height: 20px;
  }

.front {
    width: 900px;
}
.back {
    width: 900px;
}
.h3 {
    position: bottom;
}
