.floater{
    float: left;
    min-height: 200px;
}

.w-100{
    width: 100%;
}

.w-50{
    width: 50%;
}
@media(min-width:550px){
    .w-md-100{
        width: 100%;
    }
    .W-md-50{
       width: 50%;
    } 
    
    .w-md-33{
        width: 33.3%;
    }

    .w-md-25{
        width: 25%
    }
}
/* END OF MD QUERY */

@media(min-width:960px){
    .w-lg-100{
        width:100%;
    }

    .w-lg-50{
        width: 50%;
    }
}
/* END OF LG QUERY */
