/* first responsive site */
body{
    margin: Opx;
    font-family: Arial, Helvetica, sans-serif;
}

#toggleAssist,
ul.nav-links {
    display: none;
}

#toggleAssist:checked + ul.nav-links{
    display:block;
}